span{
    color: aqua;
}
h1,h2{
    text-align: center;
}
img{
    height: 250px;
    width: 250px;
}

.main-left, .main-right{
    margin: 1px;
    

}
.main{
    width: 800px;
    height: 11px;
    border-spacing: 25px;
    margin: 1px auto;
    
  
}
.main-left{
    width: 200px;
    border: 1px solid black;
    
    
}
.main-right{
    height: 800px;
    border: 1px solid black;   
    
}
li{
    list-style-type: none;
}
body{
    background-color:rgba(20, 173, 54, 0.726);
box-shadow:5px -54px 31px -26px royalblue;
}

